:root {
    --background-color: #091921;
    --calculator-color: #0c2835;
    --button-color: #19475c;
    --math-button-color: #234f64;
    --light-blue: #03b1ff;
    --light-red: #ff3077;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #FFF;
}

.exCalcLogo {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    opacity: 1;
    background-color: var(--button-color);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}.exCalcLogo a:hover {
    opacity: .8;
    transition: .2s;
}.exCalcLogo i {
    margin-right: 3px;
}.exCalcLogo a {
    opacity: .3;
    color: #fff;
    text-decoration: none;
    outline: none;
}

.num {
    cursor: pointer;
}

.calculator {
    position: relative;
    display: grid;
    background-color: var(--calculator-color);
    padding: 15px;
}

.calculator .valueDiv {
    grid-column: span 4;
    height: 120px;
    text-align: right;
    border: none;
    outline: none;
    padding: 0px;
    font-size: 18px;
}

.value {
    height: 60px;
    width: 240px;
    margin-top: 15px;
    text-align: right;
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;

    -moz-appearance: textfield;

    outline: none;
    cursor: pointer;
}

.calculator span {
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: var(--button-color);
    place-items: center;
    border: 2px solid rgba(0,0,0,.1);
    font-size: 20px;
}

.calculator span:active {
    background: #0c202b;
    color: #111;
}

.calculator span:hover {
    opacity: .7;
}

.calculator span.clear {
    grid-column: span 1;
    width: 60px;
    background: var(--light-red);
    border-top-right-radius: 5px;
    font-size: 25px;
}
.calculator span.backspace {
    grid-column: span 1;
    width: 60px;
    background: var(--light-red);
    font-size: 25px;
}

.calculator span.plus {
    grid-row: span 2;
    height: 120px;
}

.calculator span.equal {
    background: var(--light-blue);
    border-bottom-right-radius: 5px;
}

.calculator span.key0 {
    border-bottom-left-radius: 5px;
}

.calculator span.keyDiv {
    border-top-left-radius: 5px;
}

.calculator span.equal, span.plus, span.keySub, span.keyMult, span.keyDiv, span.keyDot {
    font-size: 30px;
}

span.keyDiv, span.keyMult, span.keySub, span.plus {
    background-color: var(--math-button-color);
}

.calculator span.keyDot p {
    margin-top: -15px;
}
.calculator span.keyMult p {
    margin-top: 15px;
}
